#dashboard {
  display: flex;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
}
.dash {
  width: 100%;
  max-width: 100vw;
}
.dash__container {
  padding: 2rem;
}
.dash__top {
  display: flex;
  justify-content: space-between;
}
.dash__top h2 {
  font-weight: 500;
  font-size: 1.7rem;
}
.dash__top div {
  display: flex;
  align-items: center;
}
.dash__avatar {
  border: 2px solid #f67c52;
  max-width: 2.7rem;
  border-radius: 100%;
  cursor: pointer;
}
