#left {
  border-right: 1.5px solid #e0e0e0;
  width: 16rem;
  height: 100vh;
}
.left__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.left__logo {
  width: 12rem;
  margin-bottom: 1rem;
}
.left__top {
  padding-left: 0.5rem;
  border-bottom: 1.5px solid #e0e0e0;
  padding-bottom: 0.7rem;
}
.left__middle{
  padding: 0.7rem 0.5rem; 
}
.left__bottom {
  border-top: 1.5px solid #e0e0e0;
  padding: 0.7rem 0.5rem;
}
.left__flex {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.left__text {
  display: flex;
  font-weight: 500;
  gap: 1rem;
}
.left__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 0.6rem;
  padding-left: 1rem;
  width: 14rem;
  height: 3rem;
}
.left__outline {
  background-color: #acd2e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 0.6rem;
  padding-left: 1rem;
  width: 14rem;
  height: 3rem;
}
.left__sub {
  border-radius: 0.6rem;
  border: 1px solid #f67c52;
  padding-left: 1rem;
  width: 14rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eed5cd;
  cursor: pointer;
}
.left__item:hover {
  color: #f67c52;
}
