#noti {
  padding: 2rem 1rem;
  height: 100%;
  max-height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noti__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  @media (max-width: 1250px) {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
.noti__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
  max-width: 37rem;
  @media (max-width: 1250px) {
    flex-direction: row;
    max-width: 70rem;
    justify-content: center;
  }
  @media (max-width: 1000px) {
    flex-direction: column;
  }
}
.noti__image {
  height: 100px;
  width: 100px;
  border: 5px solid #f67c52;
  border-radius: 0.3rem;
}
.noti__item {
  display: flex;
  gap: 1.5rem;
  max-width: 26.7rem;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border: 1px solid #acd2e9;
  border-radius: 0.7rem;

  @media (max-width: 600px) {
    flex-direction: row;
    max-width: 26.7rem;
    text-align: start;
    gap: 1.5rem;
  }
  @media (max-width: 500px) {
    flex-direction: column;
    text-align: center;
    max-width: 14.7rem;
    gap: 0.5rem;
  }
}
.noti__two {
  margin-right: 8rem;
  @media (max-width: 1250px) {
    display: none;
  }
}
.noti__three {
  @media (max-width: 600px) {
    display: none;
  }
}
.noti__action {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.noti__title {
  font-weight: 700;
  font-size: 1rem;
  color: #1d2d32;
}
.noti__des {
  color: #1d2d32;
  font-weight: 400;
}
.noti__right {
  max-width: 592px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media (max-width: 1250px) {
    max-width: 60rem;
    align-items: center;
  }
  @media (max-width: 800px) {
    gap: 1rem;
  }
}
.noti__head {
  font-weight: 700;
  font-size: 3rem;
  @media (max-width: 800px) {
    font-size: 2rem;
  }
  @media (max-width: 520px) {
    text-align: center;
  }
  @media (max-width: 400px) {

    font-size: 1.5rem;
  }
}
.noti__outline {
  background-color: #acd2e9;
  padding: 0rem 0.5rem;
  border-radius: 0.5rem;
}
.noti__body {
  font-weight: 400;
  font-size: 1.1rem;
  @media (max-width: 800px) {
    font-size: 1rem;
    text-align: center;
  }
  @media (max-width: 520px) {
    font-size: 0.9rem;
    text-align: center;
  }
}
.noti__redirect {
  display: flex;
  gap: 1rem;
  position: relative;
  color: #f67c52;
  transition: all 0.2s ease-in-out;
  max-width: 14rem;
  align-items: center;
}
.noti__redirect:hover {
  color: #db4e1f;
}
.noti__redirect p {
  font-size: 1.7rem;
  font-weight: 600;
  @media (max-width: 520px) {
    font-size: 1.2rem;
  }
}
.noti__icon {
  padding: 0.5rem;
  background-color: #f0b7a5;
  border-radius: 0.5rem;
  @media (max-width: 520px) {
    padding: 0.3rem;
  }
}
