.top__container {
  padding: 1rem 1rem;
  border-bottom: 1px solid rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
  @media (max-width: 350px) {
    padding: 1rem 0rem 1rem 0rem;
  }
}
.top__logo {
  width: 2.7rem;
  @media (max-width: 350px) {
    display: none;
  }
}
.top__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.top__unselected,
.top__selected {
  font-weight: 500;
  color: #203161;
  font-size: 1.1rem;
  cursor: pointer;
}
.top__selected {
  background-color: #203161;
  padding: 0.6rem;
  color: white;
  border-radius: 0.7rem;
}
.top__avatar {
  background-color: rgb(187, 185, 185);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
}
.top__profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.upload {
  background-color: #203161;
  border: 1px solid #203161;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: white;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 4;
  cursor: pointer;
}
/* dropdown */

.dropdown {
  background-color: #f4f9fc;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  border: 1px solid rgb(233, 233, 233);
  border-top: none;
  display: none;
  right: 0;
  padding: 1rem;
  position: absolute;
  width: 13.375rem;
  z-index: 100;
  @media (max-width: 500px) {
    margin-right: 1rem;
  }
}
.dropdown__item {
  border-radius: 0.625rem;
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 10.625rem;
  padding: 0.5rem;
  transition: all 0.1s ease-in-out;
}
.dropdown__item:hover {
  background-color: #203161;
  color: white;
  padding: 0.5rem;
}

/* upload */

.upload__dark {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #000000;
  opacity: 0.9;
  z-index: 1;
  display: none;
}
.upload__modal {
  display: none;
  z-index: 2;
  height: 100%;
  width: 100%;
  max-width: 50rem;
  max-height: 27rem;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: white;
  position: fixed;
  border-radius: 0.9rem;
  padding: 1rem;
  box-sizing: border-box;
  margin: 1rem;
  @media (max-width: 900px) {
    max-width: 40rem;
  }
  @media (max-width: 750px) {
    max-width: 30rem;
  }
  @media (max-width: 600px) {
    width: 90%;
    margin: 1rem 1rem 1rem 0rem;
  }
}
.upload__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.upload__top p {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  @media (max-width: 450px) {
    font-size: 1.3rem;
  }
  @media (max-width: 350px) {
    font-size: 1rem;
  }
}
.upload__input {
  background-color: none;
  border: 1px solid #ced4da;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  width: 95%;
  @media (max-width: 900px) {
    width: 90%;
  }
}
input:focus {
  outline: none;
}
.upload__div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.upload__div label {
  font-weight: 500;
  font-size: 1.1rem;
}
.upload__button {
  background-color: #0f172a;
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-weight: 500;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.upload__close,
.file__download {
  cursor: pointer;
}
.item__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #000000;
  color: white;
  border-radius: 100%;
}
