.top__container {
  padding: 1rem 1rem;
  border-bottom: 1px solid rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
  @media (max-width: 350px) {
    padding: 1rem 0rem 1rem 0rem;
  }
}
.top__logo {
  width: 2.7rem;
  @media (max-width: 350px) {
    display: none;
  }
}
.top__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.top__unselected,
.top__selected {
  font-weight: 500;
  color: #203161;
  font-size: 1.1rem;
  cursor: pointer;
}
.top__selected {
  background-color: #203161;
  padding: 0.6rem;
  color: white;
  border-radius: 0.7rem;
}
.top__avatar {
  background-color: rgb(187, 185, 185);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
}
.top__profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.dropdown {
  background-color: #f4f9fc;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  border: 1px solid rgb(233, 233, 233);
  border-top: none;
  display: none;
  right: 0;
  padding: 1rem;
  position: absolute;
  width: 13.375rem;
  z-index: 100;
  @media (max-width: 500px) {
    margin-right: 1rem;
  }
}
.dropdown__item {
  border-radius: 0.625rem;
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 10.625rem;
  padding: 0.5rem;
  transition: all 0.1s ease-in-out;
}
.dropdown__item:hover {
  background-color: #203161;
  color: white;
  padding: 0.5rem;
}
