body {
  margin: 0;
  background-color: #f4f9fc;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.popup__success {
  background-color: #eafbf2;
  border: 1px solid #d9e4df;
  height: 100%;
  width: 100%;
  max-height: 5rem;
  max-width: 20rem;
  border-radius: 0.5rem;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #195332;
  gap: 0.4rem;
  transition: all 0.2s ease-in-out;
  z-index: 2;
  @media (max-width: 500px) {
    max-width: 10rem;
    max-height: 3rem;
  }
}
.popup__success p {
  font-size: 1.1rem;
  font-weight: 500;
  @media (max-width: 500px) {
    font-size: 1rem;
  }
}
.popup__fail,
.popup__fail2 {
  background-color: #f1eded;
  border: 1px solid #d6b4ab;
  height: 100%;
  width: 100%;
  max-height: 5rem;
  max-width: 20rem;
  border-radius: 0.5rem;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cc170a;
  gap: 0.4rem;
  transition: all 0.2s ease-in-out;
  z-index: 2;
  @media (max-width: 500px) {
    max-width: 10rem;
    max-height: 3rem;
  }
}
.popup__fail p,
.popup__fail2 p {
  font-size: 1.1rem;
  font-weight: 500;
  @media (max-width: 500px) {
    font-size: 1rem;
  }
}
