.burger__container {
  background-color: #ffffff;
  display: none;
  height: 100vh;
  max-height: 100vh;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.burger__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.burger__logo {
  width: 4rem;
}
.burger__icon {
  color: #203161;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.burger__icon:hover {
  color: #f47e4f;
}
.burger__item {
  align-items: center;
  border-bottom: 1px solid #e3e9f1;
  color: #203161;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  padding-bottom: 1.3rem;
  padding-top: 2rem;
  transition: all 0.2s ease-in-out;
}
.burger__item:hover {
  color: #f47e4f !important;
}
.burger__link {
  background-color: #203161;
  border-radius: 0.3rem;
  border: none;
  color: white;
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 2rem;
  padding: 0.6rem 0rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.burger__link:hover {
  background-color: #f47e4f;
}
