#hero {
  height: 90vh;
  width: 100%;
  background-color: #acd2e9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./hero.png');
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 500px) {
    height: 92vh;
    background-image: url('./hero2.jpg');
  }
}
.hero__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  margin-bottom: 5rem;
}
.hero__flex h2 {
  color: #1d2d32;
  font-size: 4.5rem;
  @media (max-width: 800px) {
    font-size: 3.5rem;
  }
  @media (max-width: 550px) {
    font-size: 3rem;
  }
  @media (max-width: 450px) {
    font-size: 2.5rem;
  }
  @media (max-width: 400px) {
    font-size: 2rem;
  }
  @media (max-width: 310px) {
    font-size: 1.7rem;
  }
}
.hero__flex p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
  @media (max-width: 800px) {
    font-size: 0.9rem;
  }
  @media (max-width: 550px) {
    font-size: 0.9rem;
  }
}
.hero__button {
  background-color: #f67c52;
  color: white;
  padding: 0.57rem 2rem 0.57rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.hero__button:hover{
    background-color: #f7916f;
}